<html>
	<head>
		<title>Concept Mapper Download</title>
		<style type="text/css">
			body {
			  background-color: lightgrey;
			}
			h2 {
			  color: #99badd;
			  font-family: Verdana;
			  font-size: 150%;
			}
			p  {
			  color: black;
			  font-family: Arial;
			  font-size: 100%;
			}
		</style>
		<script>

		</script>
	</head>
    <body>
		<h2>Select location to save comparison</h2>
		<p>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul class=flashes>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
		</p>
<!--		<form method="post" action="/out">-->
		<form method="post" action="/download_file">

		    <dl>
				<p>
<!--					<input type="text" id="out_path" name="out_path" autocomplete="off">-->
				<p>click Download to download file. click back to upload another file.</p>
				<a href="/getDownload">download</a>
				<a href="{{ url_for('upload_form')}}"> back</a>
				</p>
			</dl>
<!--			<p>-->
<!--				<input type="submit" value="Save">-->
<!--			</p>-->
		</form>
    </body>
</html>

